<!-- add header -->
<%- include('includes/_header') %>
<!-- end header -->

<!-- Main section -->
<main id="main">
  <a href="/">
    <span><i class="fas fa-arrow-left"></i> All Drugs</span>
  </a>

  <h2>Add a Drug</h2>
  <p>Use the below form to add a new drug</p>

  <!-- Add drug form -->
  <form action="/api/drugs" method="POST" id="add_drug">
    <div class="container d-flex flex-column align-items-stretch">

     <!-- Name -->
    <div class="row mb-3 form-group justify-content-center">
    <label for="name" class="col-3 col-form-label">Drug Name</label>
    <input type="hidden" name="id" value="">
    <input type="text" id="name" name="name" value="" 
            placeholder="Name > 5 characters" 
            minlength="6" 
            pattern=".{6,}" 
            class="col-md-4 col-xs-8" required>
    <span class="text-danger" id="nameError"></span>
    </div>

      <!-- Card -->
      <div class="row mb-3 form-group justify-content-center">
        <label for="card" class="col-3 col-form-label">Tablets per Card</label>
        <input type="number" name="card" value="" 
               placeholder="More than 1000" 
               min="1001" 
               class="col-xs-8 col-md-4" required>
      </div>

      <!-- Pack -->
      <div class="row mb-3 form-group justify-content-center">
        <label for="pack" class="col-3 col-form-label">Tablets per Pack</label>
        <input type="number" name="pack" value="" 
               placeholder="More than 0" 
               min="1" 
               class="col-xs-8 col-md-4" required>
      </div>

      <!-- PerDay -->
      <div class="row form-group mb-3 justify-content-center">
        <label for="perDay" class="col-3 col-form-label">Taken per day</label>
        <input type="number" name="perDay" value="" 
               placeholder="More than 0 and less than 90" 
               min="1" max="89" 
               class="col-xs-8 col-md-4" required>
      </div>

      <!-- Dosage -->
      <div class="row mb-3 form-group justify-content-center">
        <label for="dosage" class="col-3 col-form-label">Dosage</label>
        <input type="hidden" name="id" value="">
        <input type="text" id="dosage" name="dosage" value="" 
               placeholder="Format: XX-morning,XX-afternoon,XX  -night" 
               pattern="^\d{2}-morning,\d{2}-afternoon,\d{2}-night$"
               class="col-md-4 col-xs-8" required>
      </div>

      <!-- Submit -->
      <div class="form-group">
        <button type="submit">Add Drug</button>
      </div>
    </div>
  </form>
</main>
<!-- End main section -->

<!-- add footer -->
<%- include('includes/_footer') %>
<!-- end footer -->
