<!-- views/error.ejs -->
<%- include('includes/_header') %>
<main id="main" class="container text-center mt-5">
  <h1 style="color: red;">Error</h1>
  <p><%= message %></p>
  <a href="/manage" class="btn btn-primary mt-3">Back to Manage Drugs</a>
</main>
<%- include('includes/_footer') %>
